<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <add id="Magdev_Banner::banner"
         title="Banners"
         module="Magdev_Banner"
         sortOrder="10"
         parent="Magento_Backend::marketing"
         action="magdev_banner/banner/index"
         resource="Magdev_Banner::banner"/>
</menu>
</config>
